<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" style="text-align: center">

	<span class="p-float-label" style="margin-bottom:15px;">
		<input type="text" id="title" formControlName="title" pInputText>
		<label for="title">Task Title</label>
	</span>

	<span class="p-float-label" style="margin-bottom:15px">
		<input type="text" id="description" formControlName="description" pInputText>
		<label for="description">Task Description</label>
	</span>

	<button pButton type="submit" class="p-button-success" style="margin:5px;"
		[disabled]="!taskForm.valid">Submit</button>

</form>