<p-card header="Login">
	<form [formGroup]="loginForm" (ngSubmit)="handleClickLogin()">
		<div class="col-12">
			<div class="p-inputgroup">
				<input type="email" id="email" pInputText placeholder="Email" formControlName="email">
			</div>
		</div>
		<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger">
			<div *ngIf="email.errors?.['required']">
				Email is required.
			</div>
			<div *ngIf="email.errors?.['email']">
				Email must be "[...]@[...]".
			</div>
		</div>

		<div class="col-12">
			<div class="p-inputgroup">
				<input type="password" pInputText placeholder="Password" formControlName="password">
			</div>
		</div>
		<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert-danger">
			<div *ngIf="password.errors?.['required']">
				Password is required.
			</div>
			<div *ngIf="password.errors?.['minlength']">
				Password must have a minimum length of 8.
			</div>
		</div>

		<button pButton label="Login" type="submit" class="p-button-primary login-button"
			[disabled]="!loginForm.valid"></button>
	</form>

	<ng-template pTemplate="footer">
		<a routerLink="/register">Don't have an account yet? Sign up</a>
	</ng-template>
</p-card>