<div class="container">
	<p-card header="Login" class="container">
		<form [formGroup]="loginForm" (ngSubmit)="handleClickLogin()">
			<div class="col-12">
				<div class="p-float-label" style="margin-bottom:15px;">
					<input type="email" id="email" pInputText formControlName="email">
					<label for="email">Email</label>
				</div>
			</div>
			<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger">
				<div *ngIf="email.errors?.['required']" class="error">
					Email is required.
				</div>
				<div *ngIf="email.errors?.['email']" class="error">
					Email must be "[...]@[...]".
				</div>
			</div>

			<div class="col-12">
				<div class="p-float-label" style="margin-bottom:15px;">
					<input type="password" pInputText formControlName="password">
					<label for="password">Password</label>
				</div>
			</div>
			<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert-danger">
				<div *ngIf="password.errors?.['required']" class="error">
					Password is required.
					<br>
				</div>
				<div *ngIf="password.errors?.['minlength']" class="error">
					Password must have a minimum length of 8.
				</div>
			</div>
			<br>
			<button pButton label="Login" type="submit" class="p-button-primary login-button"
				[disabled]="!loginForm.valid" style="margin-bottom:15px;"></button>
		</form>
		<ng-template pTemplate="footer">
			<a routerLink="/register">Don't have an account yet? Sign up</a>
		</ng-template>
	</p-card>
</div>