.strikethrough p {
	text-decoration: line-through;
}

:host ::ng-deep .strikethrough .p-card .p-card-title .header {
	text-decoration: line-through;
}

:host ::ng-deep .strikethrough .p-card .p-card-body {
	background: lightgray;
}

:host ::ng-deep .p-button {
	height: 45px;
}

:host ::ng-deep .p-card {
	margin: 10px auto;
	width: 50%;
}

.header {
	display: flex;
	justify-content: space-between;
}

.title {
	font-weight: 700;
	font-size: 20px;
}

.buttons {
	display: flex;
	align-items: center;
	gap: 5px;
}