<p-menubar>
	<ng-template pTemplate="start">
		<button pButton type="button" label="New Task" class="p-button-success" (click)="handleTaskForm()"></button>
		<p-toggleButton [(ngModel)]="isFilterActive" 
			(click)="handleFilterButtonClick()"
			[onIcon]="'pi pi-align-justify'" 
			[offIcon]="'pi pi-sort-alt'" 
			[onLabel]="'See default list'" 
			[offLabel]="'Sort tasks by status'" 
			[iconPos]="'left'">
		</p-toggleButton>
	</ng-template>
	<button type="button" pButton label="Logout" icon="pi pi-sign-out" (click)="handleLogoutButtonClick()" style="margin-left:.25em"></button>
</p-menubar> 