<button pButton type="button" label="New Task" class="p-button-success" (click)="handleTaskForm()"></button>

<div *ngIf="!isFilterActive">
	<h1>Tasks</h1>
	<div *ngFor="let task of taskList">
		<task *ngIf="!task.isDeleted" [task]="task"></task>
	</div>
</div>

<div *ngIf="isFilterActive">
	<h1>Tasks</h1>
	<h2>In progress</h2>
	<div *ngFor="let task of taskList">
		<task *ngIf="!task.isCompleted && !task.isDeleted" [task]="task"></task>
	</div>
	<h2>Completed</h2>
	<div *ngFor="let task of taskList">
		<task *ngIf="task.isCompleted && !task.isDeleted" [task]="task"></task>
	</div>
</div>